body{
    font-weight: 600 !important;
}
.btn{
    font-weight: 600;
}
h1{
    font-family: "Playfair Display";
}
h1 a:hover{
    text-decoration: none;
}
img.main__image--height{
    height: 12em;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.main__card--height{
    height: 24em;
}